
<div onclick={{action "toggleModal"}}>{{title}}</div>

{{#if isShowingModal}}
  {{#modal-dialog onClose="toggleModal"
                  targetAttachment="center"
                  translucentOverlay=true}}
    <div>
      <div>{{title}}</div>
      <button {{action "toggleModal"}}>Close</button>
      <button {{action "delete"}}>Delete</button>
    </div>
    <div>
      {{textarea value=desc}}
    </div>
  {{/modal-dialog}}
{{/if}}

{{yield}}
