<div class="list">

  <div class="list-title">
    {{title}}
  </div>
  <br>
  {{#each todos as |todo idx|}}
    {{detail-modal title=todo.title desc=todo.desc delete=attrs.delete listIdx=attrs.listIdx todoIdx=idx}}
  {{/each}}


  {{#if addTodo}}
      {{input class="todo-title-input" enter="saveTodo" placeholder="Type something..." value=newTodoTitle}}
    <br>
    <button class="save-task hover"{{action "saveTodo"}}>Save</button>
    <button class="cancel-task hover"{{action "cancel"}}>Cancel</button>
  {{else}}
    <div class="add-task-container">
      <a class="add-task hover"{{action "addTodo"}}>Add an item...</a>
    </div>
  {{/if}}
</div>

{{yield}}
