{{title}}
<br>
{{#each todos as |todo|}}
  <div>{todo.title}}</div>

{{/each}}

{{#if addTodo}}
  {{input placeholder="Type task title..." value=newTodoTitle}}
  {{input placeholder="Type task description..." value=newTodoDesc}}
  <br>
  <button {{action "saveTodo"}}>Save</button>
  <button {{action "cancel"}}>Cancel</button>
{{else}}
  <button {{action "addTodo"}}>Add an item...</button>
{{/if}}


{{yield}}
