{{title}}
<br>
{{#each todos as |todo|}}
  <div>{{todo}}</div>
{{/each}}

{{#if addTodo}}
  {{input on="enter" action="saveTodo" placeholder="Type something..." value=newTodo}}
  <br>
  <button {{action "saveTodo"}}>Save</button>
  <button {{action "cancel"}}>Cancel</button>
{{else}}
  <button {{action "addTodo"}}>Add an item...</button>
{{/if}}


{{yield}}
